@media (max-width: 375px) {

  .site__header {
    padding: 12px 63px 11px 15px;
  }

  .header__hamburger {
    right: 1px;
    height: 50px;
  }

  .header__logo > img {
    height: 27px;
  }

  .text__wallofmem {
    font-size: 10px;
    width: 100px;
    height: 18px;
  }

  .text__tyumen {
    font-size: 9px;
    width: 100px;
  }

  .red-button {
    font-size: 14px;
    line-height: 13px;
    height: 60px;
    width: 100%;
  }


  .search-field {
    font-size: 9px;
  }

  .hero {
    padding: 20px 15px 70px 14px;
    background-position-y: 20px;
    background-size: 90%;
  }

  .hero__summary {
    width: auto;
  }

  .summary__type {
    font-size: 14px;
    line-height: 21px;
  }

  .summary__name {
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 0.02em;
  }

  .summary__desc {
    font-size: 12px;
    line-height: 18px;
  }

  .search__desc {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }

  .form__input {
    width: 100% !important;
  }

  .search__form div {
    flex-wrap: wrap;
  }

  .form__label {
    width: 80%;
    padding-right: 0px;
  }

  #mem {
    margin-bottom: 20px;
  }

}
